$white-color: #ffffff;
$background-color: #253341;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-position: inside;
}

@mixin border {
  border: 2px solid red;
}
